name: Info Workflow
on:
  push:
    branches:
      - main
jobs:
  info:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Print commit
        run: |
          echo "Commit: ${{ github.sha }}"
